@model Double
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RaportA2</title>
</head>
<body>
    <div>
        <p>Łączna kwota zamówień wynosi: @Model</p>
    </div>
</body>
</html>
